*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
body{
    background: rgb(234, 190, 190);
}
.container{
    margin: auto;
    border: 3px solid gray;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #e9eaee;
    margin-top: 50px;
    box-shadow: 0 3px 10px rgba(231, 227, 227, 0.5);
}
.container > button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin: 3px 0;
    font-size: 15px;
    border: none;
    background:rgb(225, 223, 223);
    transition: transform .5s ease;
}
.container > button:hover{
    background: #252B48;
    transform: scale(.97);
    cursor: pointer;
}
#Image {
    width:150px;
    min-width: 200px;
}